<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="pretty" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{100}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="jsonFile" class="ch.qos.logback.core.FileAppender">
        <file>build/test-logs/test.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="pretty"/>
        <appender-ref ref="jsonFile"/>
    </root>

    <logger name="team-logs" level="TRACE" additivity="false">
        <appender-ref ref="pretty"/>
        <appender-ref ref="jsonFile"/>
    </logger>

    <logger name="io.netty" level="INFO" />
    <logger name="no.nav" level="INFO" />
    <logger name="io.micrometer.prometheusmetrics.PrometheusMeterRegistry" level="DEBUG" />

</configuration>